
.footer-container {
    background-color:rgb(53, 51, 51);
    padding: 20px;
    margin-bottom: 0%;
    top:0;
    margin-top: 0%;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .footer-section {
    flex-basis: 45%;
    color:aliceblue;
    font-weight: bold;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin-bottom: 0;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    color: white;
  }
  